<h1>Empleados</h1>

<app-list-item
  *ngFor="let employee of employees$ | async; trackBy: trackByEmployee"
  (delete)="deleteEmployee(employee)"
  (itemSelected)="editEmployee(employee)"
>
  <div style="display: flex; justify-content: space-between;">
    <span style="width: 25%">{{ employee.name }}</span>
    <span style="width: 25%">{{ employee.lastName }}</span>
    <span style="width: 25%">{{ employee.age }}</span>
    <span style="width: 25%">{{
      employee.startDate | date: 'dd/MM/yyyy'
    }}</span>
  </div>
</app-list-item>

<app-fab-button (click)="addNewEmployee()">
  <mat-icon aria-hidden="false" aria-label="New">add</mat-icon>
</app-fab-button>
